/* line 6, ../sass/dashboard.scss */
body {
  background: #e9e3d5;
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/dashboard.scss */
#sidebar {
  -moz-user-select: none;
  background-position: 0 400px;
  height: 100%;
  left: 0;
  position: relative;
  width: 235px;
  z-index: 10;
  background: #414042;
  margin-left: 7px;
  float: left;
}

/* line 25, ../sass/dashboard.scss */
#content {
  margin-left: 250px;
  min-width: 768px;
  padding: 16px;
  background-color: #e9e3d5;
  float: left;
  position: absolute;
}

/* line 37, ../sass/dashboard.scss */
.sidebar-top {
  background-color: white;
  height: 60px;
  margin: 5px 0px 0px 10px;
  padding: 0px;
}
/* line 42, ../sass/dashboard.scss */
.sidebar-top .makina-logo {
  background-image: url("../../images/makina-logo.png");
  background-repeat: no-repeat;
  width: 156px;
  height: 50px;
  margin-left: 30px;
}

/* line 50, ../sass/dashboard.scss */
.sidebar-menu {
  padding: 0px;
  margin: 0px 0px 0px 10px;
}
/* line 57, ../sass/dashboard.scss */
.sidebar-menu .active {
  background-color: #119692 !important;
}
/* line 60, ../sass/dashboard.scss */
.sidebar-menu .active > .text {
  color: white !important;
}
/* line 61, ../sass/dashboard.scss */
.sidebar-menu .active > .select-app {
  background-image: url("../../images/left_menu_icons/selectappA.png") !important;
}
/* line 62, ../sass/dashboard.scss */
.sidebar-menu .active > .dashboards {
  background-image: url("../../images/left_menu_icons/dashboardA.png") !important;
}
/* line 63, ../sass/dashboard.scss */
.sidebar-menu .active > .events {
  background-image: url("../../images/left_menu_icons/eventsA.png") !important;
}
/* line 64, ../sass/dashboard.scss */
.sidebar-menu .active > .sources {
  background-image: url("../../images/left_menu_icons/sourcesA.png") !important;
}
/* line 65, ../sass/dashboard.scss */
.sidebar-menu .active > .management {
  background-image: url("../../images/left_menu_icons/management_A.png") !important;
}
/* line 72, ../sass/dashboard.scss */
.sidebar-menu .menu-item {
  margin: 3px 0px 3px 0px;
  padding: 10px 0px 8px 1px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  width: 223px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #575757;
}
/* line 85, ../sass/dashboard.scss */
.sidebar-menu .menu-item .text {
  margin-left: 5px;
  padding-top: 4px;
  color: #acacac;
  float: left;
  font: 13px Ubuntu, Helvetica, sans-serif;
  text-shadow: none;
}
/* line 96, ../sass/dashboard.scss */
.sidebar-menu .menu-item .logo {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  float: left;
  margin-left: 9px;
}
/* line 103, ../sass/dashboard.scss */
.sidebar-menu .menu-item .select-app {
  background-image: url("../../images/left_menu_icons/selectapp.png");
}
/* line 104, ../sass/dashboard.scss */
.sidebar-menu .menu-item .dashboards {
  background-image: url("../../images/left_menu_icons/dashboard.png");
}
/* line 105, ../sass/dashboard.scss */
.sidebar-menu .menu-item .events {
  background-image: url("../../images/left_menu_icons/events.png");
}
/* line 106, ../sass/dashboard.scss */
.sidebar-menu .menu-item .sources {
  background-image: url("../../images/left_menu_icons/sources.png");
}
/* line 107, ../sass/dashboard.scss */
.sidebar-menu .menu-item .management {
  background-image: url("../../images/left_menu_icons/management.png");
}
/* line 111, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover {
  background-color: #119692;
}
/* line 113, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .text {
  color: white;
}
/* line 114, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .select-app {
  background-image: url("../../images/left_menu_icons/selectappA.png");
}
/* line 115, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .dashboards {
  background-image: url("../../images/left_menu_icons/dashboardA.png");
}
/* line 116, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .events {
  background-image: url("../../images/left_menu_icons/eventsA.png");
}
/* line 117, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .sources {
  background-image: url("../../images/left_menu_icons/sourcesA.png");
}
/* line 118, ../sass/dashboard.scss */
.sidebar-menu .menu-item:hover .management {
  background-image: url("../../images/left_menu_icons/management_A.png");
}
/* line 123, ../sass/dashboard.scss */
.sidebar-menu .sub-menu {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: none;
}
/* line 130, ../sass/dashboard.scss */
.sidebar-menu .sub-menu ul {
  margin: 0px;
  padding: 0px;
}
/* line 135, ../sass/dashboard.scss */
.sidebar-menu .sub-menu .menu-item {
  margin: 3px 0px 3px 0px;
  padding: 5px 0px 5px 1px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  width: 223px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #8e8e8e;
}
/* line 148, ../sass/dashboard.scss */
.sidebar-menu .sub-menu .menu-item .text {
  margin-left: 15px;
  padding-top: 4px;
  color: white;
  float: left;
  font: 13px Ubuntu, Helvetica, sans-serif;
  text-shadow: none;
}

/* line 163, ../sass/dashboard.scss */
.makina-data-table {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* line 167, ../sass/dashboard.scss */
.makina-data-table th {
  text-align: left;
  color: white;
  background-color: #b3b3b3;
}
/* line 173, ../sass/dashboard.scss */
.makina-data-table tr:nth-child(even) {
  background-color: white;
}
/* line 174, ../sass/dashboard.scss */
.makina-data-table tr:nth-child(odd) {
  background-color: #f4f1ea;
}
/* line 175, ../sass/dashboard.scss */
.makina-data-table td {
  color: #464646;
}

/* line 181, ../sass/dashboard.scss */
.makina-form {
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 187, ../sass/dashboard.scss */
.makina-form .form-title {
  background-color: #b3b3b3;
  color: white;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}
/* line 194, ../sass/dashboard.scss */
.makina-form .row {
  clear: both;
}
/* line 197, ../sass/dashboard.scss */
.makina-form .row .title {
  float: left;
  min-width: 150px;
  margin-left: 10px;
}
/* line 202, ../sass/dashboard.scss */
.makina-form .row .detail {
  float: left;
}
/* line 205, ../sass/dashboard.scss */
.makina-form .row:after {
  clear: both;
}
/* line 212, ../sass/dashboard.scss */
.makina-form .makina-form-table {
  padding-left: 10px;
  background-color: #f4f1ea;
}

/* line 223, ../sass/dashboard.scss */
.makina-btn {
  border: 1px solid #575757;
  padding: 4px;
  color: #fff;
  position: relative;
  margin: 0 0 0 5px;
  background: #575757;
  cursor: pointer;
}
/* line 232, ../sass/dashboard.scss */
.makina-btn.orange {
  background-color: #ef9539;
  border: 1px solid #ef9539;
}
/* line 236, ../sass/dashboard.scss */
.makina-btn.green {
  background-color: #119692;
  border: 1px solid #119692;
}

/* line 249, ../sass/dashboard.scss */
.makina-select-box ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 257, ../sass/dashboard.scss */
.makina-select-box ul:first-child > li {
  border: 1px solid #000000;
}
/* line 262, ../sass/dashboard.scss */
.makina-select-box .makina-select-box-options {
  z-index: 10;
}
/* line 267, ../sass/dashboard.scss */
.makina-select-box ul li {
  display: block;
  position: relative;
  float: left;
}
/* line 272, ../sass/dashboard.scss */
.makina-select-box li ul {
  display: none;
}
/* line 276, ../sass/dashboard.scss */
.makina-select-box .makina-selected {
  background-image: url("../../images/select-box-icon-right.png");
  background-repeat: no-repeat;
  background-position: right;
}
/* line 282, ../sass/dashboard.scss */
.makina-select-box ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 40px 5px 25px;
  background: #B3B3B3;
  white-space: nowrap;
}
/* line 293, ../sass/dashboard.scss */
.makina-select-box ul ul li {
  padding: 0px;
}
/* line 296, ../sass/dashboard.scss */
.makina-select-box ul ul li a {
  border-top: 1px solid #000000;
}
/* line 303, ../sass/dashboard.scss */
.makina-select-box li:hover ul {
  display: block;
  position: absolute;
}
/* line 307, ../sass/dashboard.scss */
.makina-select-box li:hover li {
  float: none;
  font-size: 14px;
}
/* line 314, ../sass/dashboard.scss */
.makina-select-box li:hover li a:hover {
  background: #EF9539;
}

/* line 320, ../sass/dashboard.scss */
.makina-box-content {
  border: 1px solid  #D2CBC1;
  background-color: white;
  text-align: center;
  float: left;
  margin: 1px;
  width: 170px;
}
/* line 328, ../sass/dashboard.scss */
.makina-box-content .icon {
  width: 26px;
  height: 26px;
  margin-top: 10px;
  float: left;
}
/* line 334, ../sass/dashboard.scss */
.makina-box-content .total-clicks {
  background-image: url("../../images/header_icons/totalclicks.png");
}
/* line 337, ../sass/dashboard.scss */
.makina-box-content .total-installs {
  background-image: url("../../images/header_icons/totalinstalls.png");
}
/* line 340, ../sass/dashboard.scss */
.makina-box-content .avg-rank {
  background-image: url("../../images/header_icons/avgrank.png");
}
/* line 343, ../sass/dashboard.scss */
.makina-box-content .avg-con-rate {
  background-image: url("../../images/header_icons/avg.con.rate.png");
}
/* line 346, ../sass/dashboard.scss */
.makina-box-content .highestrank {
  background-image: url("../../images/header_icons/highestrank.png");
}
/* line 354, ../sass/dashboard.scss */
.makina-box-content .makina-box-header {
  background-color: #EDEDED;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
}
/* line 362, ../sass/dashboard.scss */
.makina-box-content .text {
  padding-top: 17px;
}
/* line 366, ../sass/dashboard.scss */
.makina-box-content .makina-box-body {
  line-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  color: #464646;
  font-size: 30px;
}
/* line 375, ../sass/dashboard.scss */
.makina-box-content:after {
  clear: both;
}
