
/*
 * Namespace Gryphon
 */
.innerTables {
	background-color: #dddddd;
	border:1px dashed #888888;
	padding:10px;
	padding-left:20px;
	height:100px;
}

body {
	background-color: #e9e3d5;
	margin:0;
}
.container-fluid {
	padding-left:0;
	padding-right:0;
}
.makina-logo {
	background-color: #ffffff;
	background-image: url("/images/k/makina-logo.png");
	background-repeat: no-repeat;
	background-position:center;
	height: 50px;	
}
.sideBar {
	background-color: #323232;
	height:100%;
}
/*
 * Namespace Twitter Bootstrap patches
 */
.btn, .modal-warning  {
	border-radius:0;
	box-shadow:none;
	font-size:12px;
}
.popover {
	background-color:#3C3C3C;	
}
.popover.bottom .arrow:after {
	border-bottom-color:#3c3c3c;
}
.btn-primary {
	background-color: #575757;
}
.btn-primary:hover {
	background-color: #119692;
}
.withSpacer .btn {
	margin-left:5px;
}
.accordion-group {
	border:none;
}
.accordion-heading {
	background-color: #575757;
	color: #c5c5c5;
	border:0;
}
.accordion-heading a {
	color: #c5c5c5;
}

.sideBar .accordion-heading {
	background-repeat:no-repeat;
	padding-left:20px;
	height:53px;
	background-position:left center;
}
.accordion-inner {
	padding:0;
}
.sideBar .accordion-heading a {
	padding-top:14px;
}
.sideBar .accordion-group.selectApp .accordion-heading {
	background-image: url("/images/k/left_menu_icons/selectapp.png");
}
.sideBar .accordion-group.dashboard .accordion-heading {
	background-image: url("/images/k/left_menu_icons/dashboard.png");
}
.sideBar .accordion-group.events .accordion-heading {
	background-image: url("/images/k/left_menu_icons/events.png");
}
.sideBar .accordion-group.sources .accordion-heading {
	background-image: url("/images/k/left_menu_icons/sources.png");
}
.sideBar .accordion-group.management .accordion-heading {
	background-image: url("/images/k/left_menu_icons/management.png");
}
#sideBarManagement .accordion-heading {
	background-image:none;
	height:32px;
	padding-left:0;
}
#sideBarManagement .accordion-heading a {
	padding-top:10px;
}
#sideBarManagement .accordion-heading {
	background-color: #8e8e8e;
	color: #ffffff;
	border:0;
}
#sideBarManagement .accordion-heading a {
	color: #ffffff;
	text-indent:2px;
}
thead {
	background-color: #b3b3b3;
	color:#ffffff;
	text-weight:normal;
}
.modal-body {
	padding:0;
}
.tooltip-inner {
	display:inline;
	width:250px;
}
.calendars {
	font-size:12px;
}
.popover-content {
	padding:0;
}
.popover {
	max-width:560px;
	left:560px;
}
.ui-datepicker th {
	padding:0;
}
.ui-widget-header {
	font-weight:none;
}

.row-fluid [class*="span"] {
	margin-left:0;
}



.paging_full_numbers .ui-button {
	color:#B3B3B3 !important;	
}
