<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index</title>

	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui/i18n/jquery.ui.datepicker-tr.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery-ui.multidatespicker.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/widget.js"></script>

	<script language="javascript" type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.math.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.deferred.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.json-2.4.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.base64.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.csv-0.71.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery.uniform.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/visualization/highcharts/highcharts.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/visualization/highcharts/highcharts-more.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/xdate.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/parsley.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/ui/jquery.dataTables.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/ColVis.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/ColReorder.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/KeyTable.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/TableTools.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/ColumnFilterWidgets.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/jquery.dataTables.columnFilter.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/jquery.dataTables.fnGetTds.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/jquery.dataTables.fnGetColumnData.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/utils/moment/moment.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/amplify.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/cuteNSexy/cutesexy.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/client/dashboard.js"></script>

	<link rel="stylesheet/less" type="text/css" href="styles.less" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/uniform/themes/default/css/uniform.default.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/demo_page.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/demo_table_jui.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/smoothness/jquery-ui-1.8.4.custom.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/TableTools.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/TableTools_JUI.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/ColVis.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/client/dashboard.css">

</head>

<body>

	<div class="container-fluid wholePage">

		<div class="row-fluid">
			<div class="span2 sideBar">

				<div class="makina-logo"></div>
				<div class="accordion" id="sideBar">
					<div class="accordion-group selectApp">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseOne">
							Select App
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group dashboard">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseTwo">
							Dashboard
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group events">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseThree">
							Events
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group sources">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFour">
							Sources
							</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group management">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFive">
							Management
							</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="accordion" id="sideBarManagement">
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementOrganization">
											<a href="#managementOrganization">
												Organization
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementUser">
											<a href="#managementUser">
											User
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" data-target="#managementApps" data-toggle="modal">
											<a href="#managementApps">
											Apps
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" data-target="#managementMakilinks" data-toggle="modal">
											<a href="#managementMakilinks">
											Makilinks
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" data-target="#managementSDKWizard" data-toggle="modal">
											<a href="#managementSDKWizard">
											SDK Wizard
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="span10 rightSide">

				<div class="row-fluid">

					<div class="span2 bigs clicks">
						<div class="bigTitle">Total Clicks</div>
						<div class="bigData" id="bigNumbersTotalClick">---</div>
					</div>
					<div class="span2 bigs installs">
						<div class="bigTitle">Total Installs</div>
						<div class="bigData" id="bigNumbersTotalInstall">---</div>
					</div>
					<div class="span2 bigs avgcr">
						<div class="bigTitle">Average CR</div>
						<div class="bigData" id="bigNumbersAverageCR">---</div>
					</div>
					<div class="span2 bigs paidvsorg">
						<div class="bigTitle">Paid / Organic</div>
						<div class="bigData" id="bigNumbersPaidOrganic">---</div>
					</div>
					<div class="span2 bigs toprank">
						<div class="bigTitle">Highest Rank</div>
						<div class="bigData">---</div>
					</div>
					<div class="span2 bigs avgrank">
						<div class="bigTitle">Average Rank</div>
						<div class="bigData">---</div>
					</div>

					<div class="span12 breadcrumbs">
						Dashboard (All Types) > OS Paid
					</div>

					<div class="span4 makina-select-box"><nobr>
						<ul class="makina-menu" id="select-a" >
					<input type="hidden" name="" class="makina-menu-hidden" />
					<li><a href="#" class="makina-selected">Selected</a>
						<ul class="makina-select-box-options">
							<li><a href="#" rel="1">Option 1</a></li>
							<li><a href="#" rel="2">Option 2</a></li>
							<li><a href="#" rel="3">Option 3</a></li>
							<li><a href="#" rel="4">Option 4</a></li>
							<li><a href="#" rel="5">Selected</a></li>
						</ul>
					</li>
				</ul>
						<ul class="makina-menu " id="select-b" >
					<input type="hidden" name="" class="makina-menu-hidden" />
					<li><a href="#" class="makina-selected">Selected</a>
						<ul class="makina-select-box-options">
							<li><a href="#" rel="1">Option 1</a></li>
							<li><a href="#" rel="2">Option 2</a></li>
							<li><a href="#" rel="3">Option 3</a></li>
							<li><a href="#" rel="4">Option 4</a></li>
							<li><a href="#" rel="5">Selected</a></li>
						</ul>
					</li>
				</ul>
					</nobr></div>

					<div class="span8 withSpacer">
						<a class="btn btn-primary pull-right" rel="tooltip" data-toggle="tooltip">30 Days<span class="caret"></span></a>
						<a class="btn btn-primary dropdown-toggle pull-right">Last Week</a>
						<a class="btn btn-primary dropdown-toggle pull-right">Today</a>
						<a class="btn btn-primary dropdown-toggle pull-right" id="create-widget">Widget</a>
					</div>

					<div id="contentMap" class="span12" style="display:none;">
						<table style="height: 500px;">
							<tr>
								<td valign="top"><div id="content-widget" style="width: 400px;height: 200px;" ></div></td>
								<td valign="top"><div id="widget-console"></div></td>
							</tr>
						</table>
						<div id="chart_div"></div>
					</div>

					<div id="contentMap" class="span12">
					</div>
					<div id="datasetChart" class="span12" style="height:300px;">

					</div>

					<div id="contentDataset" class="span12">

					</div>

				</div>

			</div>
		</div>
</div>
	<div id="managementOrganization" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Organization Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Organization Name</th><th>Description</th><th>Level</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>...</td>
							<td>...</td>
							<td><button class="btn btn-primary btn-warning" type="button">Edit</button></td>
						</tr>
						<tr>
							<td>...</td>
							<td>...</td>
							<td>...</td>
						</tr>
						<tr>
							<td>...</td>
							<td>...</td>
							<td>...</td>
						</tr>
						<tr>
							<td>...</td>
							<td>...</td>
							<td>...</td>
						</tr>
					</tbody>
				</table>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementUser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Manage Users</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementApps" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Manage Applications</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementMakilinks" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Makilinks</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementSDKWizard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">SDK Wizard</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="containerForCalendar" class="hide" style="display:none;"></div>

	<div id="filterBySecondaryDimension" class="hide" style="display:none;">
		<div><ul class="makina-menu " id="select-c" >
			<input type="hidden" name="" class="makina-menu-hidden" />
			<li><a href="#" class="makina-selected">Selected</a>
				<ul class="makina-select-box-options">
					<li><a href="#" rel="1">Option 1</a></li>
					<li><a href="#" rel="2">Option 2</a></li>
					<li><a href="#" rel="3">Option 3</a></li>
					<li><a href="#" rel="4">Option 4</a></li>
					<li><a href="#" rel="5">Selected</a></li>
				</ul>
			</li>
		</ul></div>
	</div>

	<div id="datasetTableTemplate" class="hide" style="display:none;">
		<table width="100%" class="makina-form-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="filterTemplate" class="hide" style="display:none;">
		<button class="ColVis_Button TableTools_Button ui-button ui-state-default" style="width: 118px;">
			<span>
				<span class="ColVis_radio">
					<input type="checkbox" checked="checked">
				</span>
				<span class="ColVis_title">CLICK</span>
			</span>
		</button>
	</div>
</body>
</html>
