<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>index</title>

	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.math.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.deferred.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.json-2.4.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.base64.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.csv-0.71.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/lodash.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/backbone-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/moment/moment.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/cuteNSexy/cutesexy.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/utils/miso.ds.deps.0.4.1.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/makina/makina.dbLayer.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/makina/gryphon.helpers.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/widgets/filterTable/view.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jquery.dataTables.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/crossfilter.min.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/ColReorder.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/KeyTable.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/TableTools.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/ColumnFilterWidgets.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/datatables-plugins/jquery.dataTables.columnFilter.js"></script>
	<script type="text/javascript" type="text/javascript" src="/javascripts/client/index.js"></script>
	
</script>

	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/demo_page.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/demo_table_jui.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/smoothness/jquery-ui-1.8.4.custom.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/TableTools.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/TableTools_JUI.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/k/dashboard.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/javascripts/widgets/filterTable/styles.css">
	
</head>

<body>

<div id="sidebar">

    <div class="sidebar-top">

        <div class="makina-logo"></div>

    </div>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <div class="logo select-app"></div>
            <span class="text">Select App</span>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="menu-item">
                    <span class="text">App 1</span>
                </li>
                <li class="menu-item">
                    <span class="text">App 2</span>
                </li>
                <li class="menu-item">
                    <span class="text">App 3</span>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <div class="logo dashboards"></div>
            <span class="text">Dashboard</span>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="menu-item">
                    <span class="text">Dashboard 1</span>
                </li>
                <li class="menu-item">
                    <span class="text">Dashboard 2</span>
                </li>
                <li class="menu-item">
                    <span class="text">Dashboard 3</span>
                </li>
            </ul>
        </li>
         <li class="menu-item">
            <div class="logo events"></div>
            <span class="text">Events</span>
        </li>
         <li class="menu-item">
            <div class="logo sources"></div>
            <span class="text">Sources</span>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="menu-item">
                    <span class="text">Sources 1</span>
                </li>
                <li class="menu-item">
                    <span class="text">Sources 2</span>
                </li>
                <li class="menu-item">
                    <span class="text">Sources 3</span>
                </li>
            </ul>
        </li>
         <li class="menu-item">
            <div class="logo management"></div>
            <span class="text">Management</span>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="menu-item">
                    <span class="text">Management 1</span>
                </li>
                <li class="menu-item">
                    <span class="text">Management 2</span>
                </li>
                <li class="menu-item">
                    <span class="text">Management 3</span>
                </li>
            </ul>
        </li>
    </ul>

</div>

<div id="content"></div>

</body>
</html>
