<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index</title>

	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui-makina/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui/i18n/jquery.ui.datepicker-tr.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.math.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.deferred.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.json-2.4.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.base64.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.csv-0.71.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery.uniform.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jqGrid/i18n/grid.locale-en.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jqGrid/jquery.jqGrid.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jquery.loadJSON.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/xdate.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/utils/latinise.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/moment/moment.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/amplify.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/cuteNSexy/cutesexy.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/client/management.js"></script>

	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/uniform/themes/default/css/uniform.default.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/javascripts/dom/jqueryui-makina/css/makina/jquery-ui-1.9.2.custom.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/ui.jqgrid.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/client/management.css">

</head>

<body>
	<input type="hidden" id="whichTable" value="" />

	<div class="container-fluid wholePage">

		<div class="row-fluid">
			<div class="span2 sideBar">

				<a href="http://127.0.0.1:8080/login"><div class="makina-logo"></div></a>
				<div class="accordion" id="sideBar">
					<div class="accordion-group selectApp">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseApps">
							Select App
							</a>
						</div>
						<div id="collapseApps" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div class="accordion" id="sideBarApps">

									<div class="accordion-group sources">
										<div class="accordion-heading subLinks" id="App">
											<a href="#App">
											[-loading-]
											</a>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group dashboard">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseTwo">
							Dashboard
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group events">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseThree">
							Events
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group sources">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFour">
							Sources
							</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group management">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFive">
							Management
							</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="accordion" id="sideBarManagement">

									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementOrganizations">
											<a href="#managementOrganizations">
												Organizations
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementUsers">
											<a href="#managementUsers">
											Users
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementApps">
											<a href="#managementApps">
											Apps
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks"  id="managementMakilinks">
											<a href="#managementMakilinks">
											Makilinks
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementSDK">
											<a href="#managementSDKWizard">
											SDK Wizard
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="rightSide" class="span10">
				<table id="manager"></table> 
				<div id="thePager"></div> 
			</div>
		</div>
	</div>

	<div id="managementModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Organization Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<form class="form-horizontal">
					<input type="hidden" id="username" value="" />

					<div class="control-group">
						<label class="control-label span1" for="orgname">Org Name</label>
						<div class="controls">
							<input type="text" id="orgname" placeholder="Org Name" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="description">Description</label>
						<div class="controls">
							<input type="text" id="description" placeholder="Description" />
						</div>
					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementOrganizationsModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Organization Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<form class="form-horizontal">
					<input type="hidden" id="username" value="" />

					<div class="control-group">
						<label class="control-label span1" for="orgName">Org Name</label>
						<div class="controls">
							<input type="text" id="orgName" placeholder="Org Name" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="description">Description</label>
						<div class="controls">
							<input type="text" id="description" placeholder="Description" />
						</div>
					</div>

					<div class="control-group">
					<label class="control-label span1" for="type">Type</label>
					<div class="controls">
					<select name="type" id="orgType" class="">
						<option value="0">None</option>
						<option value="1">Agency</option>
						<option value="2">Client</option>
						<option value="3">App Dev</option>
						<option value="4">Network</option>
						<option value="5">Publisher</option>
					</select>
					</div>
					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementUsersModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Users Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<form class="form-horizontal">
					<input type="hidden" id="username" value="" />
					<input type="hidden" id="orgId" value="" />

					<div class="control-group">
						<label class="control-label span1" for="email">E-mail</label>
						<div class="controls">
							<input type="text" id="email" placeholder="E-mail" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="name">User Name</label>
						<div class="controls">
							<input type="text" id="name" placeholder="User Name" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="password">Password</label>
						<div class="controls">
							<input type="text" id="password" placeholder="Password" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="repassword">Re-enter Password</label>
						<div class="controls">
							<input type="text" id="repassword" placeholder="Re-enter Password" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="usertype">Type</label>
						<div class="controls">



						</div>
					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementAppsModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Applications Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<form class="form-horizontal">
					<input type="hidden" id="username" value="" />
					<input type="hidden" id="userId" value="" />
					<input type="hidden" id="orgId" value="" />
					<input type="hidden" id="primaryRole" value="" />
					<input type="hidden" id="password" value="123456" />

					<input type="hidden" id="appname" value="" />
					<input type="hidden" id="appToken" value="" />
					<input type="hidden" id="description" value="" />
					<input type="hidden" id="marketURL" value="" />
					<input type="hidden" id="platform" value="" />

					<table>
					<tr>
					<td><label class="control-label" for="organization">Organization </label></td>
					<td><input type="text" id="organization" placeholder="Organization" /></td>
					<td><label class="control-label" for="name">Developer </label></td>
					<td><input type="text" id="userName" name="name" placeholder="Name" value="" /></td>
					</tr>
					<tr>
					<td></td><td></td>
					<td class="hiddenFields" style="display:none;"><label class="control-label" for="name">E-mail </label></td>
					<td class="hiddenFields" style="display:none;"><input type="text" id="email" value="" placeholder="E-mail"></td>
					</tr>
					<tr id="cloneMe">
					<td><label class="control-label" for="platform">Platform </label></td>
					<td>
						<select id="platform" name="platform" class="">
						<option value="0">Unknown</option>
						<option value="1">IOS</option>
						<option value="2">Android</option>
						<option value="3">Windows</option>
						<option value="4">Symbian</option>
						<option value="5">Tizen</option>
					</select>
					</td>
					<td><label class="control-label" for="name">Market URL</label></td>
					<td>
						<input type="text" id="marketUrl" class="" placeholder="Market URL">
						<button type="button" class="addRow">+</button>
					</td>
					</table>

					<div class="control-group">
						<label class="control-label span1" for="description">Description</label>
						<div class="controls">
							<textarea rows="3" id="description" name="description" placeholder="Description"></textarea>
						</div>
					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="managementMakilinksModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Users Management</h3>
		</div>
		<div class="modal-body">
			<p>
				<form class="form-horizontal">
					<input type="hidden" id="channelId" value="" />
					<input type="hidden" id="campId" value="" />
					<div class="control-group">
						<label class="control-label span1" for="channel">Channel</label>
						<div class="controls">
							<input type="text" id="channel" placeholder="Channel" />
							<button type="button" id="addChannel">+</button>
						</div>
					</div>

					<div id="channelAdding" style="display:none;">

						<label for="channeldescription">Description</label>
						<input type="text" id="channeldescription" placeholder="Description" />

						<label for="viewTrack">View Track</label>
						<div class="btn-toolbar" id="viewTrack">
							<div class="btn-group">
								<a class="btn" href="#">None</a>
								<a class="btn" href="#">UI</a>
								<a class="btn" href="#">SDK</a>
								<a class="btn" href="#">Makilink</a>
							</div>
						</div>

						<label for="clickTrack">Click Track</label>
						<div class="btn-toolbar" id="clickTrack">
							<div class="btn-group">
								<a class="btn" href="#">None</a>
								<a class="btn" href="#">UI</a>
								<a class="btn" href="#">SDK</a>
								<a class="btn" href="#">Makilink</a>
							</div>
						</div>

						<label for="installTrack">Install Track</label>
						<div class="btn-toolbar" id="installTrack">
							<div class="btn-group">
								<a class="btn" href="#">None</a>
								<a class="btn" href="#">UI</a>
								<a class="btn" href="#">SDK</a>
								<a class="btn" href="#">Makilink</a>
							</div>
						</div>

						<label for="actionTrack">Action Track</label>
						<div class="btn-toolbar" id="actionTrack">
							<div class="btn-group">
								<a class="btn" href="#">None</a>
								<a class="btn" href="#">UI</a>
								<a class="btn" href="#">SDK</a>
								<a class="btn" href="#">Makilink</a>
							</div>
						</div>

					</div>

					<div class="control-group">
						<label class="control-label span1" for="campaign">Campaign</label>
						<div class="controls">
							<input type="text" id="campaign" placeholder="Campaign" />
							<button type="button" id="addCampaign">+</button>
						</div>
					</div>

					<div id="campaignAdding" style="display:none;">
						<div class="control-group">
							<label class="control-label span1" for="channel">Channel</label>
							<div class="controls">
								<input type="text" id="channel" placeholder="Channel" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label span1" for="channel">Channel</label>
							<div class="controls">
								<input type="text" id="channel" placeholder="Channel" />
							</div>
						</div>

					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<div id="AppsTemplate" style="display:none;">
		<div class="accordion-group sources">
			<div class="accordion-heading subLinks" id="App">
				<a href="#App">
				App
				</a>
			</div>
		</div>
	</div>

</body>
</html>
