<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>index</title>

	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui-makina/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jqueryui/i18n/jquery.ui.datepicker-tr.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.math.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/underscore.deferred.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.json-2.4.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.base64.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/jquery.csv-0.71.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/dom/jquery.uniform.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jqGrid/i18n/grid.locale-en.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jqGrid/jquery.jqGrid.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/ui/jquery.loadJSON.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/xdate.js"></script>

	<script language="javascript" type="text/javascript" src="/javascripts/utils/latinise.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/moment/moment.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/utils/amplify.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/cuteNSexy/cutesexy.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/client/management.js"></script>

	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/uniform/themes/default/css/uniform.default.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/javascripts/dom/jqueryui-makina/css/makina/jquery-ui-1.9.2.custom.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/ui.jqgrid.css" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/ui/gryphonStyles.css">
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/client/management.css">

</head>

<body>
	<input type="hidden" id="whichTable" value="" />
	<input type="hidden" id="whichForm" value="" />
	<input type="hidden" id="userId" value="" />
	<input type="hidden" id="orgId" value="" />
	<input type="hidden" id="appId" value="" />
	<input type="hidden" id="campId" value="" />
	<input type="hidden" id="channelId" value="" />

	<div class="container-fluid wholePage">

		<div class="row-fluid">
			<div class="span2 sideBar">

				<a href="http://127.0.0.1:8080/login"><div class="makina-logo"></div></a>
				<div class="accordion" id="sideBar">
					<div class="accordion-group selectApp">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseApps">
							Select App
							</a>
						</div>
						<div id="collapseApps" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div class="accordion" id="sideBarApps">

									<div class="accordion-group sources">
										<div class="accordion-heading subLinks" id="App">
											<a href="#App">
											[-loading-]
											</a>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group dashboard">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseTwo">
							Dashboard
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group events">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseThree">
							Events
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group sources">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFour">
							Sources
							</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
								Anim pariatur cliche...
							</div>
						</div>
					</div>
					<div class="accordion-group management">
						<div class="accordion-heading rootLinks">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#sideBar" href="#collapseFive">
							Management
							</a>
						</div>
						<div id="collapseFive" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="accordion" id="sideBarManagement">

									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementOrganizations">
											<a href="#managementOrganizations">
												Organizations
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementUsers">
											<a href="#managementUsers">
											Users
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementApps">
											<a href="#managementApps">
											Apps
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks"  id="managementMakilinks">
											<a href="#managementMakilinks">
											Makilinks
											</a>
										</div>
									</div>
									<div class="accordion-group sources">
										<div class="accordion-heading subLinks managementLinks" id="managementSDK">
											<a href="#managementSDKWizard">
											SDK Wizard
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="rightSide" class="span10">
				<table id="manager"></table> 
				<div id="thePager"></div> 
			</div>
		</div>
	</div>

	<div id="managementOrganizationsModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Organization Management</h3>
		</div>
		<div class="modal-body">

			<form id="orgForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="Organization" />
				<input type="hidden" name="object" 			value="OrgInfo" />
				<input type="hidden" name="modal" 			value="managementOrganizationsModal" />

				<input type="hidden" name="countlyHostId" 	value="mkui1.nmdapps.com" />
				<input type="hidden" name="command" 		value="1" />
				<input type="hidden" name="orgId" 			value="" />
				<input type="hidden" name="orgName" 		value="" />
				<input type="hidden" name="orgType" 		value="" />
				<input type="hidden" name="description" 	value="" />
			</form>

			<div class="control-group">
				<label class="control-label span1" for="orgName">Org Name</label>
				<div class="controls">
					<input type="text" name="orgName" class="formCopy managementOrganizations" alt="orgForm" placeholder="Org Name" value="" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label span1" for="description">Description</label>
				<div class="controls">
					<input type="text" name="description" class="formCopy managementOrganizations" alt="orgForm" placeholder="Description" value="" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label span1" for="orgType">Type</label>
				<div class="controls">
					<select name="type" name="orgType" class="formCopy managementOrganizations" alt="orgForm" >
						<option value="0">None</option>
						<option value="1">Agency</option>
						<option value="2">Client</option>
						<option value="3">App Dev</option>
						<option value="4">Network</option>
						<option value="5">Publisher</option>
					</select>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary saveButton" alt="orgForm">Save changes</button>
		</div>
	</div>

	<div id="managementUsersModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Users Management</h3>
		</div>
		<div class="modal-body">
			<form id="userForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="Organization" />
				<input type="hidden" name="object" 			value="OrgInfo" />
				<input type="hidden" name="modal" 			value="managementOrganizationsModal" />

				<input type="hidden" name="command" 		value="1" />
				<input type="hidden" name="username" 		value="" />
				<input type="hidden" name="name" 			value="" />
				<input type="hidden" name="email"	 		value="" />
				<input type="hidden" name="orgId" 			value="" />
				<input type="hidden" name="userId" 			value="" />
				<input type="hidden" name="password" 		value="" />

				<input type="hidden" name="primaryRole" 	value="" />
				<input type="hidden" name="description" 	value="" />
				<input type="hidden" name="roleId" 			value="" />
				<input type="hidden" name="roleName" 		value="" />
				<input type="hidden" name="visibleName" 	value="" />
				<input type="hidden" name="visibleName" 	value="" />
				<input type="hidden" name="verbs" 			value="" />
				<input type="hidden" name="numberOfUsers" 	value="" />
			</form>


					<div class="control-group">
						<label class="control-label span1" for="email">E-mail</label>
						<div class="controls">
							<input type="text" name="email" class="formCopy managementUsers" alt="userForm" placeholder="E-mail" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="name">User Name</label>
						<div class="controls">
							<input type="text" name="name" class="formCopy managementUsers" alt="userForm" placeholder="User Name" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="password">Password</label>
						<div class="controls">
							<input type="password" name="password" class="formCopy managementUsers" alt="userForm" placeholder="Password" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="repassword">Re-enter Password</label>
						<div class="controls">
							<input type="password" name="repassword" class="formCopy managementUsers" alt="userForm" placeholder="Re-enter Password" value="" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label span1" for="usertype">Type</label>
						<div class="controls">



						</div>
					</div>

				</form>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary saveButton">Save changes</button>
		</div>
	</div>

	<div id="managementAppsModal" class="modal normal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Applications Management</h3>
		</div>
		<div class="modal-body">
			<form id="appForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="App" />
				<input type="hidden" name="object" 			value="AppInfo" />
				<input type="hidden" name="modal" 			value="managementAppsModal" />

				<input type="hidden" name="command" 		value="1" />
				<input type="hidden" name="orgId" 			value="" />
				<input type="hidden" name="appId" 			value="" />
				<input type="hidden" name="appToken" 		value="" />
				<input type="hidden" name="appType" 		value="" />
				<input type="hidden" name="appname" 		value="" />
				<input type="hidden" name="description"	 	value="" />
				<input type="hidden" name="iconUrl"	 		value="" />
				<input type="hidden" name="marketURL" 		value="" />
				<input type="hidden" name="platform" 		value="" />			<!-- COMBO -->
				<input type="hidden" name="googleAnalyticsKey" value="" />
				<input type="hidden" name="registerActionId" value="" />		<!-- COMBO: install/visit-->
			</form>
			<form id="userForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="User" />
				<input type="hidden" name="object" 			value="UserInfo" />
				<input type="hidden" name="modal" 			value="managementAppsModal" />

				<input type="hidden" name="username" 		value="" />
				<input type="hidden" name="name" 			value="" />
				<input type="hidden" name="email"	 		value="" />
				<input type="hidden" name="orgId" 			value="" />
				<input type="hidden" name="password" 		value="" />
				<input type="hidden" name="primaryRole" 	value="" />
			</form>

					<table>
					<tr>
					<td><label class="control-label" for="organization">Organization </label></td>
					<td><input type="text" name="organization" class="formCopy managementApps" alt="appForm" placeholder="Organization" /></td>
					<td><label class="control-label" for="name">Developer </label></td>
					<td><input type="text" name="userName" class="formCopy managementApps" alt="userForm" placeholder="Name" value="" /></td>
					</tr>
					<tr>
					<td></td><td></td>
					<td class="hiddenFields" style="display:none;"><label class="control-label" for="name">E-mail </label></td>
					<td class="hiddenFields" style="display:none;"><input type="text" name="email" class="formCopy managementApps" alt="userForm"value="" placeholder="E-mail"></td>
					</tr>
					<tr id="cloneMe">
					<td colspan="2">
						<div class="btn-group pull-right" data-toggle="buttons-radio">
							<button type="button" class="btn btn-small btn-primary disabled">Platform</button>
							<button type="button" class="btn btn-small btn-primary">IOS</button>
							<button type="button" class="btn btn-small btn-primary">Android</button>
							<button type="button" class="btn btn-small btn-primary">Symbian</button>
							<button type="button" class="btn btn-small btn-primary">Windows</button>
							<button type="button" class="btn btn-small btn-primary">Tizen</button>
						</div>
					</td>
					
					<td><label class="control-label" for="name">Market URL</label></td>
					<td>
						<input type="text" id="marketUrl" class="" placeholder="Market URL">
						<button type="button" class="addRow">+</button>
					</td>
					</tr><tr>
						<td>
							<label class="control-label span1" for="description">Description</label>
						</td>
						<td colspan="3">
							<textarea rows="2" style="width:590px;" id="description" name="description" placeholder="Description"></textarea>
						</td>
					</tr>
					</table>

		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary saveButton">Save changes</button>
		</div>
	</div>

	<div id="managementMakilinksModal" class="modal medium hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form class="form-horizontal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			<h3 id="myModalLabel">Makilink Management</h3>
		</div>
		<div class="modal-body">
			<form id="appForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="App" />
				<input type="hidden" name="object" 			value="AppInfo" />
				<input type="hidden" name="modal" 			value="managementMakilinksModal" />

				<input type="hidden" name="command" 		value="1" />
				<input type="hidden" name="channelId" 		value="" />
				<input type="hidden" name="campId" 			value="" />
				<input type="hidden" name="description"	 	value="" />
				<input type="hidden" name="marketURL" 		value="" />
				<input type="hidden" name="platform" 		value="" />
			</form>
			<form id="channelForm">
				<input type="hidden" name="command"			value="AddUpdate" />
				<input type="hidden" name="type" 			value="Channel" />
				<input type="hidden" name="object" 			value="ChannelInfo" />
				<input type="hidden" name="modal" 			value="managementMakilinksModal" />

				<input type="hidden" name="command" 		value="1" />
				<input type="hidden" name="channelId" 		value="" />
			</form>

			<input type="hidden" id="channelId" value="" />
			<input type="hidden" id="campId" value="" />

			<table width="100%">
				<tr>
					<td>Channel</td>
					<td>
						<input type="text" name="channel" class="formCopy managementMakilinks" alt="channelForm" placeholder="Channel" value="" />
					</td>
				</tr>

				<tr class="channelAdding" style="display:none;">
					<td class="btn-group pull-right" data-toggle="buttons-radio" id="installTrack">
						<button type="button" class="btn btn-small btn-primary disabled">Install Track</button>
						<button type="button" class="btn btn-small btn-primary">None</button>
						<button type="button" class="btn btn-small btn-primary">UI</button>
						<button type="button" class="btn btn-small btn-primary">SDK</button>
						<button type="button" class="btn btn-small btn-primary">Makilink</button>
					</td>
					<td class="btn-group pull-right" data-toggle="buttons-radio" id="clickTrack">
						<button type="button" class="btn btn-small btn-primary disabled">Click Track</button>
						<button type="button" class="btn btn-small btn-primary">None</button>
						<button type="button" class="btn btn-small btn-primary">UI</button>
						<button type="button" class="btn btn-small btn-primary">SDK</button>
						<button type="button" class="btn btn-small btn-primary">Makilink</button>
					</td>
				</tr>
				<tr class="channelAdding" style="display:none;">
					<td class="btn-group pull-right" data-toggle="buttons-radio" id="viewTrack">
							<button type="button" class="btn btn-small btn-primary disabled">View Track</button>
							<button type="button" class="btn btn-small btn-primary">None</button>
							<button type="button" class="btn btn-small btn-primary">UI</button>
							<button type="button" class="btn btn-small btn-primary">SDK</button>
							<button type="button" class="btn btn-small btn-primary">Makilink</button>
						</div>
					</td>
					<td class="btn-group pull-right" data-toggle="buttons-radio" id="actionTrack">
							<button type="button" class="btn btn-small btn-primary disabled">Action Track</button>
							<button type="button" class="btn btn-small btn-primary">None</button>
							<button type="button" class="btn btn-small btn-primary">UI</button>
							<button type="button" class="btn btn-small btn-primary">SDK</button>
							<button type="button" class="btn btn-small btn-primary">Makilink</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>Campaign</td>
					<td>
						<input type="text" name="campaign" class="formCopy managementMakilinks" alt="channelForm" placeholder="campaign" />
					</td>
				</tr>
				<tr class="campaignAdding" style="display:none;">
					<td>Channel</td>
					<td>
						<input type="text" name="channelc" placeholder="Channel" />
					</td>
				</tr>
			</table>

		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary saveButton">Save changes</button>
		</div>
	</form>
	</div>

	<div id="AppsTemplate" style="display:none;">
		<div class="accordion-group sources">
			<div class="accordion-heading subLinks" id="App">
				<a href="#App">
				App
				</a>
			</div>
		</div>
	</div>

</body>
</html>
