#loginHeader {
	height:50px;
	background-repeat:no-repeat;
	background-image:url('/images/ui/loginLogo.png');
}
.modal {
	width:760px;
	margin-left:-380px;
}
.modal-header {
	border-bottom:3px solid #272727;
}
.modal-body {
	padding:25px;
}
.form-horizontal {
	background-color:#F3EFE7;
	padding:20px;
}
#loginFirstB {
	background-color:#119692;
	color:#ffffff;
}
#loginFirstB:hover {
	background-color:#EF9539;
}
#loginSecondB {
	background-color:#EF9539;
	color:#ffffff;
}
#loginSecondB:hover {
	background-color:#119692;
}
