.tesla {
	background-color:#FFFFFF;
}
table {
	font-size:13px;
	border-spacing:1px;
	border-collapse:collapse;
}
table tr {
	margin-top:1px;
}
.ui-jqgrid .ui-jqgrid-titlebar {
	font-size: 18px;
	padding: 1em 0.2em 0.2em 1em;
	font-weight: normal;
}
thead {
	background-color:#B3B3B3;
}
.modal.large {
    width: 80%;
    margin-left:-40%;
}
.modal.normal {
    width: 70%;
    margin-left:-40%;
}
.modal.medium {
    width: 60%;
    margin-left:-30%;
}
.modal.small {
    width: 40%;
    margin-left:-120%;
}
.appLinks a {
	font-size:0.9em;
}
.accordion-heading.appLinks {
	background-image:none;
	padding-left:3px;
	height:23px;
	background-position:left center;
	background-position:10px;
	background-repeat:no-repeat;
}
.mobile_android {
	background-image: url('/images/android.png');	
	background-position:right center;
}
.mobile_ios {
	background-image: url('/images/ios.png');	
	background-position:right center;	
}
#campPulldown {
	font-size:0.8em;
}
input {
	border:none;
}
input.ui-pg-input {
	width:25px;
}
.ui-autocomplete {
	font-size:0.8em;
}
.modal input.pull-right, .modal div.btn-group {
	margin-right:10px;
}
#searchApp {
	width:135px;
	height:20px;
	font-size:14px;
	border:none;
	background-color:#999999;
}
#sideBarApps {
	overflow-y: scroll;
	overflow-x: hidden;
	height:250px;
	scrollbar-base-color:#999999;
}
#TokensModal {
	padding:10px;
}